body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: lightgray;
}

.arb-list {
  display: flex;
  flex-direction: column;
}

.arb-header, .arb-item {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 0.7fr;
}

.arb-header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.arb-name, .arb-percentage, .arb-dex, .arb-apy {
  padding: 3px;
}

.low-arb {
  color: grey; /* or any other color you prefer */
}